.space-between-row__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 2% 0;

  .space-between-row__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .space-between-row__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}