@import './../../styles/variables';

.container {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  border-radius: $gap1;
  display: flex;
  flex-direction: column;
  padding: $gap1;
  width: 24%;
  text-align: center;
  width: 100%;
  padding: $gap2;

  .icon {
    padding: $gap1 $gap3;
  }

  .text {
    display: inline-flex;
    justify-content: center;
  }
}