@import './../../styles/variables';

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;

  .item_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .item_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $gap2 $gap2;
  grid-template-areas: ". . . . .";
}
