@import './../../styles/variables';

.background {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.day {
  background: radial-gradient(#41A0CE, #011762);
}

.night {
  background: radial-gradient(#27407C, #03081A);
}
