@import './../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gap4 0 $gap3 0;

  .wrapper {
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    padding: 0 1.1em;
    align-items: center;

    input {
      flex-grow: 1;
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: #666;
      border: none;
      outline: none;

      &::placeholder {
        color: #999;
      }
    }

    span {
      color: #666;
      font-size: 1.1em;
      margin-left: 0.5em;
      cursor: pointer;
    }
  }
}
